# Inam Ur Rehman
## Python
### Programming

1-Tuple
    order collection of different types of elements
    enclosed in ()
    Once elements are stored can't be changed no replace

In [5]:
tup1 = (3, "inam", 3.3, True)
tup1

(3, 'inam', 3.3, True)

In [6]:
type(tup1)

tuple

In [7]:
tup1[2]

3.3

In [8]:
import string


print("This is my first python program")
x = int(input("enter your age"))
if x==40:
    print("You should start progrmming now")
elif x<40: 
    print("you are new")
else:
    print("you should keep on doing")

This is my first python progrma
enter your age14
you are new

In [9]:
tup1[1]

'inam'

In [10]:
tup1[0:3]

(3, 'inam', 3.3)

In [12]:
tup2= (2, "python", False)
tup2

(2, 'python', False)

In [13]:
tup1+tup2

(3, 'inam', 3.3, True, 2, 'python', False)

In [14]:
tup1*3+tup2

(3,
 'inam',
 3.3,
 True,
 3,
 'inam',
 3.3,
 True,
 3,
 'inam',
 3.3,
 True,
 2,
 'python',
 False)

In [15]:
tup3= (1,2,3,4,5)
tup3

(1, 2, 3, 4, 5)

In [16]:
min(tup3)

1

In [17]:
max(tup3)

5

# Lists
  ### ordered collection of elements
 ### enclosed in []
 ### Mutable or changable

In [19]:
list1 = [1, "inam", True]
list1

[1, 'inam', True]

In [20]:
type[list1]

type[[1, 'inam', True]]

In [21]:
len(list1)

3

In [22]:
list1[2]

True

In [23]:
list1[1]

'inam'

In [33]:
list2 = [2,4, "inam", "python", False]
list2

[2, 4, 'inam', 'python', False]

In [27]:
list1 + list2

[1, 'inam', True, 2, 4, 'inam', 'python', False]

In [28]:
list1*2

[1, 'inam', True, 1, 'inam', True]

In [30]:
list1.reverse()
list1

[1, 'inam', True]

In [32]:
list1.reverse()
list1

[True, 'inam', 1]

In [36]:
list2.append("This is my python code")
list2

[2,
 4,
 'inam',
 'python',
 False,
 'This is my python code',
 'This is my python code',
 'This is my python code']

In [37]:
list2.count()
list2

TypeError: list.count() takes exactly one argument (0 given)

In [41]:
list2.count(4)

1

In [42]:
list2.count("This is my python code")

3

In [43]:
list2

[2,
 4,
 'inam',
 'python',
 False,
 'This is my python code',
 'This is my python code',
 'This is my python code']

In [44]:
list3 = [1,23,43,87,34,56,89]
list3

[1, 23, 43, 87, 34, 56, 89]

In [45]:
len(list3)

7

In [48]:
list3.sort()
list3

[1, 23, 34, 43, 56, 87, 89]

In [49]:
list3*2

[1, 23, 34, 43, 56, 87, 89, 1, 23, 34, 43, 56, 87, 89]

In [51]:
lists = list3+list2
lists

[1,
 23,
 34,
 43,
 56,
 87,
 89,
 2,
 4,
 'inam',
 'python',
 False,
 'This is my python code',
 'This is my python code',
 'This is my python code']

# Dictionaries
 unordered collection of elemens
    -key and value
    -curly braces {}
    -Mutatable/ can be changedb

In [59]:
food1= {"samosa":30, "pikora":50, "Raita":40}
food1

{'samosa': 30, 'pikora': 50, 'Raita': 40}

In [55]:
type(food1)

dict

In [60]:
# extract data
keys1= food1.keys()
keys1

dict_keys(['samosa', 'pikora', 'Raita'])

In [61]:
values = food1.values()
values

dict_values([30, 50, 40])

In [63]:
food1["samosa"]=25
food1

{'samosa': 25, 'pikora': 50, 'Raita': 40}

In [64]:
food1["pikora"]=60
food1

{'samosa': 25, 'pikora': 60, 'Raita': 40}

In [67]:
food2 = {"Dates": 50, "chocolate": 200, "saweya":30}
food2

{'Dates': 50, 'chocolate': 200, 'saweya': 30}

In [72]:
#cancatinate
food1.update(food2)
food1

{'samosa': 25,
 'pikora': 60,
 'Raita': 40,
 'Dates': 50,
 'chocolate': 200,
 'saweya': 30}

In [73]:
days = ["mond","tue","wed","thu","fri","sat","sun"]
 
for d in days:
     if(d=="wed"): continue 
     print(d)

mond
tue
thu
fri
sat
sun

## Set
unordered and onindexed
curly baraces
no duplicate values

In [74]:
s1 = {1, 3.3, 4.3, "Inam", "python", True}
s1

{1, 3.3, 4.3, 'Inam', 'python'}

In [77]:
s1.add("Inam1")
s1

{1, 3.3, 4.3, 'Inam', 'Inam1', 'python'}

In [79]:
s1.remove("Inam1")

KeyError: 'Inam1'

In [80]:
s1

{1, 3.3, 4.3, 'Inam', 'python'}

In [81]:
s1.clear()

In [82]:
s1

set()